<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Spendit</display-name>
  <welcome-file-list>
  
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
  <error-code>500</error-code>
  	<location>/500.jsp</location>
  </error-page>
  <error-page>
  	<error-code>400</error-code>
  	<location>/400.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.jsp</location>
  </error-page>
 <context-param>
  	<param-name>JDBCUrl</param-name>
  	<param-value>jdbc:mysql://localhost:3306/spenditdb</param-value>
  </context-param>
  <context-param>
  	<param-name>JDBCUser</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>JDBCPass</param-name>
  	<param-value>password</param-value>
  </context-param>
  <context-param>
  	<param-name>profilePicStorage</param-name>
  	<param-value>/Users/bnovicio96/Desktop/storage/profilepics/</param-value>
  </context-param>
  <context-param>
  	<param-name>categoryStorage</param-name>
  	<param-value>/Users/bnovicio96/Desktop/storage/categories/</param-value>
  </context-param>
  <context-param>
  	<param-name>MailerEmail</param-name>
  	<param-value>kne.spendit@gmail.com</param-value>
  </context-param>
  <context-param>
  	<param-name>MailerPass</param-name>
  	<param-value>lgexfiahndbufcku</param-value>
  </context-param>
  <context-param>
    <param-name>smtpHost</param-name>
    <param-value>mail.smtp.host</param-value>
  </context-param>
  <context-param>
    <param-name>smtpURL</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>smtpsFPort</param-name>
    <param-value>mail.smtp.socketFactory.port</param-value>
  </context-param>
  <context-param>
    <param-name>smtpPortNo</param-name>
    <param-value>465</param-value>
  </context-param>
  <context-param>
    <param-name>smtpClass</param-name>
    <param-value>mail.smtp.socketFactory.class</param-value>
  </context-param>
  <context-param>
    <param-name>smtpJavaX</param-name>
    <param-value>javax.net.ssl.SSLSocketFactory</param-value>
  </context-param>
  <context-param>
    <param-name>smtpAuth</param-name>
    <param-value>mail.smtp.auth</param-value>
  </context-param>
  <context-param>
    <param-name>smtpAllowAuth</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>smtpPort</param-name>
    <param-value>mail.smtpPort</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
   <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>com.cj.xss.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>